.SearchFilter {
    margin: auto;
    width: 70%;
}

.search-field {
    position: relative;
    left: 550px;
    text-align: center;
    width: 60%;
}

/* .other-fields {
    position: relative;
    width: 100%;
    background-color: black;
    margin-top: 5%;
} */

.filter-field {
    margin-right: 5px;
}

.sort-field {
    margin-right: 5px;
}
