.divbg {
    background-color: rgb(243, 243, 243);
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.font-text {
    color: black;
    font-size: large;
}

.search-text {
    width: 50%;
}